# InfluxDB 2.x
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=changeme123
INFLUXDB_ORG=home
INFLUXDB_BUCKET=speedtest
INFLUXDB_ADMIN_TOKEN=my-super-secret-token

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Speedtest interval (default: 60m)
SPEEDTEST_INTERVAL=60m
